{% extends 'base.html.twig' %}

{% block main %}

	<div class="col-md-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Edit Tache</h4>
				<p class="card-description">
					Informations Tache
				</p>

				{{ form_start(form) }}
				<div class="form-group row">
					<label for="exampleInputUsername2" class="col-sm-3 col-form-label">Nom</label>
					<div class="col-sm-9">
						{{ form_widget(form.nom , {'attr': { 'placeholder' : 'Nom'}}
						) }}
						{{ form_errors(form.nom) }}
					</div>
				</div>
				<div class="form-group row">
					<label for="exampleInputUsername2" class="col-sm-3 col-form-label">Etat</label>
					<div class="col-sm-9">
						{{ form_widget(form.etat , {'attr': { 'placeholder' : 'Etat'}}
						) }}
						{{ form_errors(form.etat) }}
					</div>
				</div>
				<div class="form-group row">
					<label for="exampleInputUsername2" class="col-sm-3 col-form-label">Département</label>
					<div class="col-sm-9">
						{{ form_widget(form.departement , {'attr': { 'placeholder' : 'Département'}}
						) }}
						{{ form_errors(form.departement) }}
					</div>
				</div>
				<div class="form-group row">
					<label for="exampleInputUsername2" class="col-sm-3 col-form-label">Document</label>
					<div class="col-sm-9">
						{{ form_widget(form.document , {'attr': { 'placeholder' : 'Document'}}
						) }}
						{{ form_errors(form.document) }}
					</div>
				</div>
				<div class="form-group row">
					<label for="exampleInputUsername2" class="col-sm-3 col-form-label">Description</label>
					<div class="col-sm-9">
						{{ form_widget(form.description , {'attr': { 'placeholder' : 'Description'}}
						) }}
						{{ form_errors(form.description) }}
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-9">
						{{ form_widget(form.modifier , {'attr': {'class':'btn btn-sm btn-gradient-primary' , 'placeholder' : 'Modifier'}}
						) }}
					</div>
				</div>
				{{ form_end(form) }}

			</div>
		</div>
	</div>

	<a href="{{ path('tache_index') }}">back to list</a>

	{{ include('tache/_delete_form.html.twig') }}
{% endblock %}
