{% extends 'base.html.twig' %}

{% block main %}

	<div class="col-lg-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Employe Index</h4>
				<div class="row">
					<p class="card-description">
						Consulter
						<code>Employes</code>
					</p>
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" id="myInput" placeholder="Rechercher" aria-label="Recipient's username" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-sm btn-gradient-primary" type="button">Search</button>
							</div>
							<button class="btn btn-sm btn-gradient-primary" type="button">
								<a href="{{ url('employesListe')}}">PDF</a>
							</button>
						</div>
					</div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Email</th>
							<th>Roles</th>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Departement</th>
							<th>Age</th>
							<th>But</th>
							<th>Salaire</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody id="hi">
						{% for user in users %}
							<tr>
								<td>{{ user.email }}</td>
								<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
								<td>{{ user.nom }}</td>
								<td>{{ user.prenom }}</td>
								<td>{{ user.departement }}</td>
								<td>{{ user.age }}</td>
								<td>{{ user.but }}</td>
								<td>{{ user.salaire }}</td>
								<td>
									<a href="{{ path('employe_show', {'id': user.id}) }}">show</a>
									<a href="{{ path('employe_edit', {'id': user.id}) }}">edit</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="15">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<a href="{{ path('employe_new') }}">Create new</a>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function () {
$("#myInput").on("keyup", function () {
var value = $(this).val().toLowerCase();
$("#hi tr").filter(function () {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});
});
	</script>

{% endblock %}
